
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginFail</title>
    <style>
        html {
            background-color: #e74c3c;
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fefefe;
        }

        html{
	        display: flex;
	        align-items: center;
	        justify-content: center;
	        height: 100vh;
        }

        .error-middle{
	        display: block;
	        vertical-align: middle;
        }
    </style>
</head>
<body>
    <div>
        <div class="error-middle">
            <h1>Error 401 - Unauthorized</h1>
            <p>Sai Username hay password rồi má ơi</p>
        </div>
    </div>
</body>
</html>
